.jumbotron {
background-image: url("../img/diklabuheader.png");
background-size: cover;
color: #ffffff;
}
.mypassword {
    height: 34px;
}

.mybutton {
    margin-top: 6px;
}

.infoIcon {
    cursor: pointer;
}

th{ height: 75px; }

.inputAnwesenheit {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.wochenende {
    background-color: #eeeeee;
}