.selectKlasse {
    cursor: pointer;
}

.setAnwesenheit {
    cursor: pointer;
}

.schueler {
    cursor: pointer;   
}
.detailsKlasse {
    cursor: pointer;   
}

a {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

.lehrer {
    margin: 10px;
    font-size: 16px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}


.anwesend {
 border-radius: 5px;
 background: #009245;
 padding: 4px; 
 color: white;   
}

.parseError {
 border-radius: 5px;
 background: darkred;
 padding: 4px; 
 color: white;   
 
}

.fehlend {
 border-radius: 5px;
 background: #843534;
 padding: 4px; 
 color: white;   
 
}

.entschuldigt {
 border-radius: 5px;
 background: #8a6d3b;
 padding: 4px; 
 color: white;  
 
}

.bemDatum {
    font-size: 10px;
}
.bemLehrer {
    border-radius: 5px;
 background: #843534;
 padding: 4px; 
 margin-left: 10px;
 margin-right: 10px;
 color: white;   
}

.custom-count-pos{
    font-size: 11px;
    font-weight: bold;
    padding: 0.2em 0.5em;
    float: right;
    background: white;
    color: #222222;
}




.ui-loader .ui-icon-loading {
   background-color: #222222;
 }
 .ui-icon-loading {
    background: url("../img/loading.gif");     
  }
  
  .flag {
      margin-left: 10px;
  }
  
  #currentDate {
      text-align: center;
  }
  
  #currentDateVerlauf {
      text-align: center;
  }
 