.jumbotron {
background-image: url("../img/diklabuheader.png");
background-size: cover;
color: #ffffff;
}
.mypassword {
    height: 34px;
}

.jhead {
    height: 310px;
}
.mybutton {
    margin-top: 6px;
}

.infoIcon {
    cursor: pointer;
}
.mailIcon {
    cursor: pointer;
}
.mailBetrieb {
    cursor: pointer;
}

th{ height: 75px; }

.inputAnwesenheit {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.wochenende {
    background-color: #eeeeee;
}

.parseError {
    background-color: #ffcccc;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#bildWahl {
    text-align: center;
    margin-bottom: 15px;
}

.chatFrom {
    border-radius: 5px;
    background: darkblue;
    padding: 4px; 
    width: 80px;
    height: 10px; 
    color: white;
}
.chatMeFrom {
    border-radius: 5px;
    background: #009245;
    padding: 4px; 
    width: 80px;
    height: 10px; 
    color: white;
}
.chatSystem {
    border-radius: 5px;
    background: #761c19;
    padding: 4px; 
    width: 80px;
    height: 10px; 
    color: white;
}
.parseErrors {
    border-radius: 8px;
    background: #F05F40;
    padding: 1px;     
    color: black;
    margin: 5px;
    font-size: 11px;
    white-space:nowrap;
}
.fehltagEntschuldigt {
    border-radius: 8px;
    background: #009245;
    padding: 1px;   
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 11px;
    color: white;
    white-space:nowrap;
    
}
.fehltagUnentschuldigt {
    border-radius: 8px;
    margin: 5px;
    background: #ac2925;
    font-size: 11px;
    padding: 1px;     
    color: white;
    white-space:nowrap;
    
    padding-left: 5px;
    padding-right: 5px;
    
}

.chatLine {
    margin-left: 10px;
}

.anwesend {
    border-radius: 20px;    
    padding: 10px;
    background: lightgreen;
}

.fehlend {
    border-radius: 20px;    
    padding: 10px;
    background: lightcoral;
}

.unbekannt {
    border-radius: 20px;    
    padding: 10px;
    background: #808080;
    
    
}
.setAnwesenheit {
    background: red;
}
